global:
  scrape_interval: 15s # How often to scrape targets

rule_files:
  - "/etc/prometheus/rules.yaml"

scrape_configs:
  - job_name: "gateway"
    # internal port 8443 
    static_configs:
      - targets: ["gateway:8443"]
    # Because the gateway uses HTTPS, we must tell Prometheus to
    # use the 'https' scheme and to skip verifying your self-signed certificate
    scheme: https
    tls_config:
      insecure_skip_verify: true